@import (less) '../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css';

@import 'expressionist';

* {
	font-family: sans-serif;;
}

#container {
	bottom: 15px;
	left: 15px;
	position: absolute;
	right: 15px;
	top: 15px;
}
